.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: 0.25s;


}

.acordeon.open,
.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}



.acordeon .btnTrigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #fff;
    justify-content: space-between;

}

.acordeon .btnTrigger h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: .5rem;
}

.acordeon .btnTrigger::after {
    content: '';
    display: inline-block;
    margin-right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/chevron.svg');
    transition: .25s;
}

.acordeon.open .btnTrigger::after{
    transform: rotate(180deg);
}

.acordeon .btnTrigger:hover {
    cursor: pointer;
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: .25s opacity ease-in-out;
}

.acordeon.open .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: 100%;
    opacity: 1;
}